* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    color: white;
    background-color: rgb(48, 158, 48);
}

h1 {
    font-size: 2.5rem;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

header li {
    display: inline;
}

header li a {
    margin-right: 2em;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

header li a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    color: rgb(48, 158, 48);
    margin-bottom: 1em;
}

.loja {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    gap: 2em;
}

.loja img {
    width: 100%;
    max-height: 320px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-gap: 1%;
    text-align: center;
}

article {
    display: block;
    padding: 1em;
}

article img {
    height: 200px;
    max-width: 100%;
    margin: 1.5em 0;
}

article button {
    margin-top: 1.5em;
    width: 100%;
    padding: 0.75em;
    background-color: rgb(48, 158, 48);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

article button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

@media screen and (max-width: 767px) {
    header .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    
    h1 {
        margin-bottom: 1em;
    }

    header li a {
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
    }

    h2 {
        text-align: center;
    }

    article button {
        max-width: 50%;
    }

    .loja {
        width: 90%;
        display: block;
    }

    .loja p {
        margin-bottom: 0.5em;
    }

    .produtos {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container, .loja, .produtos {
    max-width: 80%;
   }

   .loja {
    display: block;
   }

   .produtos {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-gap: 2%;
   }

   .loja p {
    margin-bottom: 0.5em;
}
}